cat << 'EOF' > .gitignore
# Terraform local state and overrides
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform initialisation folder
.terraform/

# Terraform variables files (secrets)
*.tfvars
*.tfvars.json

# Operating system files
.DS_Store
Thumbs.db
EOF
